{% extends 'html/base.html' %}
{% load static %}
{% block content %}
    <div class="jumbotron">
        <img class="images" src="{% static 'images/coollogo_com-325342672.png' %}" alt="CSE 2A">
    </div>
    <div class="container">
        <div class="col-md-4">
        <div class="page-header">
            <h4>First Name  Last Name</h4>
        </div>
        <div class="well">
            <p>Date of Birth</p>
        </div>
        <div class="well">
            <p>Email</p>
        </div>
        <div class="well">
            <p>Phone No: </p>
        </div>
        </div>
    </div>

{% endblock %}